.addHabitModal{
    width: 500px;
    height: 300px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #A67563;
}

#addHabit,
#duration {
    padding: 0.5rem;
    font-size: 1rem;
    width: 350px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
}

input:focus{
    outline: none;
}

#addHabitBtn{
    margin-top: 20px;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
}